*{
    box-sizing: border-box;
}
body {
    position: relative;
    padding-top: 160px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../imgs/greyfloral.png");
    background-position: center;
    height:auto;
    color: #777;
    padding-bottom: 60px;
    font-size: 16px;
}
.container{
    margin:0 auto;
    height:auto;
}

/* -----------------------------------------------------HEADINGS------------------------------------------------------------------- */

h1{
    float:left;
    font-variant: small-caps;
    background-color: #ff8c00;
    width: 250px;
    height: 50px;
    font-weight:700;
    color: #fff;
    padding: 12px 0 0 22px;
    font-size: 25px;
}
h2,h4{
    
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:  #ff8c00;
    font-size:25px;
    font-weight:700;
    margin-bottom: 10px;
    font-variant: small-caps;
}
h4{
    text-align: center;
    font-size:20px;
}
/* link tags */

a:link, a:visited{
    color: #fff;
    text-decoration: none;
}
/* ------------------------------------------------------Images--------------------------------------------------------------------- */
#personal{
  
    max-width: 100%;
    height:auto;
   margin-right: 30px;
    float: left;
    padding-top: 8px;

}
.img-effect:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
/* -------------------------------------------------------About Me------------------------------------------------------------------ */

.about-me, .sidebar{
    background-color: #fff;
    overflow: hidden;
}
.about-me{
    padding:0px 30px 50px 30px;
    margin-bottom: 100px;
}
.sidebar{
    
}
.social{
    height:80px;
    padding-bottom:30px;
}
.page-header{
  border-bottom: 2px solid #eee;
}
/* ------------------------------------------------------PARAGRAPHS---------------------------------------------------------------- */
.text{
    text-align: justify;
    line-height: 150%;
    letter-spacing: 1px;
}
#special{
    color:  #ff8c00;
    margin-top:20px;
   
} 
/* ----------------------------------------------------NAVBAR ELEMENTS------------------------------------------------------------- */


/* ----------------------IMAGES---------------- */

/* .content img{
    width: 100%;
    height: 100%;
    float:left;
    margin-right:50px;
} */
.image{
    display:inline-block;
    position: relative;
    margin-bottom: 30px;
    
}
.image img{
    width:300px;
    height:200px;
}
.image-text{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #ff8c00;
    color: #fff;
    width: 300px;
    height:50px;
    text-align: center;
    z-index: 100;
    padding:15px;
    top:140px;
}


/* -------------------------------------------------------FOOTER------------------------------------------------------------------------- */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
    padding:20px;
    background-color: #666;
    border-top:10px solid #ff8c00;
    font-size:12px;
  
   
    
}
footer p{
    color: #fff;
    padding-top:25px;
    text-align: center;  
}
/* -----------------------------------------------------FONT AWESOME ICONS--------------------------------------------------------------- */
.fa{
    font-size: 48px;
    color: black;
}
.fa-linkedin-square{
    color: royalblue;
}
.fa-stack-overflow{
    color: darkorange;
}


/* -----------------------------------------------------MEDIA Queries--------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  
   .about-me #personal{
      width: 100%;
       /* float:left; */
       margin: 0px 15px 15px 0px;
    }
   .about-me, .sidebar{
        width: 100%;
        margin: 20px auto;
        float: none;
        max-width: 600px;
    }
   /* .sidebar{
    width:100%;
    margin: 0px 15px 50px 20px;
    } */
   .icon-size{
       width:60px;
   }
}

/* @media screen and (max-width: 480px) {
    
   .about-me #personal{
       max-width:100%;
       float:none;
    }
   .about-me{
       width:100%;
       margin:20px;
    }
   .sidebar{
    width:100%;
    margin: 0px 15px 50px 20px;
    }
   .icon-size{
       width:60px;
   }
} */